*

!.gitignore
!vimrc
!coc-settings.json

!syntax/
!syntax/*.vim

!plugin/
!plugin/*.vim
!plugin/usd/
!plugin/usd/*.vim

!ftplugin/
!ftplugin/*.vim

!ftdetect/
!ftdetect/*.vim

!_houdini/
!_houdini/vimrc

